<p>i am project-manager page</p>
<div>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
        
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/AddRequest">Add Request</a>
              </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/SuggestedRequest">Suggested Request</a>
          </li>
          
        </ul>
      </nav>
    </div>
