<div>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/viewAllResource">View All Resource</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/viewRequest">View Request</a>
          </li>
            
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/addResource">Add Resource</a>
          </li>
          
        </ul>
    </nav>
</div>

<p>Admin Page</p>
<router-outlet></router-outlet>



