<p>Add Resource</p>

<div class="container" id="container">
    <form  (ngSubmit)="addResource();" [formGroup]="AddResourceForm">
    <table class="table table-striped">
    <tr class="form-group">
        <td> Name : </td>
        <td><input class="form-control" formControlName="resourceName" />
       
        </td>
    </tr>   
    <tr class="form-group">
        <td>Experience : </td>
        <td><input class="form-control" formControlName="resourceExperience" />
      
        </td>
    </tr>
    <tr class="form-group">
        <td>Role</td>
        <td>    
            <select class="custom-select" formControlName="roleId">
                <option *ngFor="let r of rolesList" [value]="r.resourceRoleId">{{r.resourceRoleType}}</option>
              </select>
        </td> 
    </tr>

    <tr class="form-group">
        <td>Marital Status : </td>             
        <td>
            <input type="radio" formControlName="resourceMaritalStatus" value="UNMARRIED" label="UnMarried" /> UNMARRIED
            <input type="radio" formControlName="resourceMaritalStatus" value="MARRIED" label="Married" />MARRIED
          
        </td>         
     </tr>

     <br>
     <br>

     <tr>
         <td>Skills</td>
         
                <label *ngFor="let skill of skillsList; let i = index">
                        <input type="checkbox" [value]="skill.skillsName" (change)="change($event.target.value)">
                        {{skill.skillsName}}
                    </label>  
     </tr>

    <tr class="form-group">
        <td>Email : </td>
        <td><input formControlName="resourceEmail" class="form-control"/>
       
    </tr>

    <tr class="form-group">
        <td>Date of Birth  : </td>
        <td><input type="date" formControlName="resourceDOB" class="form-control" />
        
        </td>
    </tr>
    <tr class="form-group">
        <td>Select Gender  : </td>
        <td><input type="radio"  formControlName="resourceGender" value="male" />male
        <input type="radio"  formControlName="resourceGender" value="female" />female
        <input type="radio"  formControlName="resourceGender" value="Others" />Others</td>
       
        
    </tr>
    <tr class="form-group">
        <td>Phone no : </td>
        <td><input type="number" formControlName="resourcePhoneNumber" class="form-control"/>
            
        </td>
    </tr>
    
    <tr><td></td><td><input type="submit" value="submit" class="btn btn-warning"/></td></tr>
    
    </table>
    </form>
    </div> 
